$mainColor: #000;

$black: #000;
$dark: #222531;
$white: #fff;
$blue: #3861fb;
$gray: #58667e;
$gray2: #808a9d;
$gray3: #eff2f5;
$gray4: #a6b1c2;
$green: #16c784;
$yellow: #edc240;


$mainGradient: linear-gradient(rgb(248, 250, 253) 0%, rgba(248, 250, 253, 0) 413px);