@use "sass:math";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'variables';

$fontFamily: "Inter";
$fontSize: 14px;

$minWidth: 320;
$maxWidth: 1510;
$maxWidthContainer: 1340;
$containerPadding: 30;

$containerWidth: $maxWidthContainer + $containerPadding;

@import 'bases/mixins';

// Брейк-поинты
$pc: em($containerWidth);
$tablet: em(991.98);
$mobile: em(767.98);
$mobileSmall: em(479.98);

body {
	color: $mainColor;
	line-height: 1;
	font-family: $fontFamily;
	font-size: $fontSize;

	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
	}
	// Сайт загружен
	.loaded & {
	}
}

html,
body {
	height: 100%;
	min-width: 320 + px;
}

// Для главных элементов:
#root,
#__next {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}

.container {
	max-width: rem($maxWidthContainer);
	box-sizing: content-box;
	margin: 0 auto;
	padding: 0 rem(math.div($containerPadding, 2));
}

.page {
	background: $mainGradient;
}